<div class="row">
  <div class="col-sm-12"
    <div class=container>
      <form action="/forex" method="get">
        <div class="form-group row">
          <label for="date" class="col-form-label col-sm-1">Date</label>
          <div class="col-sm-3">
            <input type="date" name="date" class="form-control" id="date">
          </div>
        </div>
        <div class="form-group row">
          <label for="amount" class="col-form-label col-sm-1">Amount</label>
          <div class="col-sm-2">
            <input type="number" name="amount" class="form-control" id="amount">
          </div>
          <label for="from_currency" class="col-form-label offset-sm-1 col-sm-1">From:</label>
          <div class="col-sm-3">
            <select class="custom-select" id="from_currency" name="from_currency">
              <%= options_for_select(@currencies) %>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="to_currency" class="col-form-label offset-sm-4 col-sm-1">To:</label>
          <div class="col-sm-3">
            <select class="custom-select" id="to_currency" name="to_currency">
              <%= options_for_select(@currencies) %>
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Convert</button>
      </form>
    </div>
</div>